<nav>
  <div class="d-flex">
    <%= link_to root_path, class: "pirata-one-regular link-home-phone d-flex align-items-center", style: "padding-inline-start: 1rem;" do %>
      <i class="fa-solid fa-house-chimney text-primary" style="font-size: 1.2rem;"></i>
    <% end %>
    <%= link_to "in die begin_", root_path, class: "pirata-one-regular link-home-desktop" %>
  </div>
  <ul class="navbar-list">
    <li class="navbar-list-item">
      <%= link_to "Tuis", root_path, class: "ovo-regular semi-bold" %>
    </li>
    <li class="navbar-list-item">
      <%= link_to "About", about_path, class: "ovo-regular semi-bold" %>
    </li>
    <% if user_signed_in? %>
      <li class="navbar-list-item">
        <%= link_to "Stories", stories_path, class: "ovo-regular semi-bold" %>
      </li>
      <li class="dropdown pt-1">
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-solid fa-circle-user text-primary" style="font-size: 1.5rem; padding-inline-end: 0.5rem;"></i>
        </a>
        <div class="dropdown-content" aria-labelledby="navbarDropdown">
          <%= link_to "TODO", "#", class: "dropdown-item" %>
          <%= link_to "TODO", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </li>
    <% else %>
      <li class="navbar-list-item">
        <%= link_to "Login", new_user_session_path, class: "ovo-regular semi-bold" %>
      </li>
    <% end %>
  </ul>
</nav>
