<div class="container mt-3">
  <%= link_to stories_path, class: "back-link" do %>
    <i class="fa-solid fa-chevron-left me-1"></i>Back
  <% end %>
  <h2 class="my-3">
    <%= @story.title %>
  </h2>
  <div class="card p-2">
    <div>
      <% @story.content_for_display.each do |c| %>
        <% if c.is_a?(Vocab) %>
          <%= link_to c.word.name, "#", class: "btn btn-primary rounded-4 m-1", data: { bs_toggle: "modal", bs_target: "#vocabModal#{c.id}" } %>
          <%= render 'vocab/new', vocab: c, story: @story, word: c.word %>
        <% else %>
          <%= c %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card mt-3 p-2">
    <h4>Stats en goed</h4>
    <p>Jou vordering met <strong><%= @story.title %></strong> : </p>
    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar bg-primary" style="width: 25%"></div>
    </div>
    <p>Dit sal ook lekker wees om die stats van die storie te sien</p>
    <p>nuwe woorde, totale woorde</p>
  </div>
</div>
